﻿@{
    Layout = "~/Areas/SA/Views/Shared/_Layout.cshtml";
}
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Dashboard</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Dashboard3</li>
        </ol>
    </div>
    @*<div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>THIS MONTH</small></h6>
                    <h4 class="m-t-0 text-info">$58,356</h4>
                </div>
                <div class="spark-chart">
                    <div id="monthchart"></div>
                </div>
            </div>
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>LAST MONTH</small></h6>
                    <h4 class="m-t-0 text-primary">$48,356</h4>
                </div>
                <div class="spark-chart">
                    <div id="lastmonthchart"></div>
                </div>
            </div>
            <div class="">
                <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
    </div>*@
</div>
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="card card-body">
            <div class="row">
                <div class="col p-r-0 align-self-center">
                    <h2 class="font-light m-b-0">324</h2>
                    <h6 class="text-muted">New Clients</h6>
                </div>
                <div class="col text-right align-self-center">
                    <div data-label="20%" class="css-bar m-b-0 css-bar-info css-bar-20"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card card-body">
            <div class="row">
                <div class="col p-r-0 align-self-center">
                    <h2 class="font-light m-b-0">2376</h2>
                    <h6 class="text-muted">Total Visits</h6>
                </div>
                <div class="col text-right align-self-center">
                    <div data-label="30%" class="css-bar m-b-0 css-bar-success css-bar-20"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card card-body">
            <div class="row">
                <div class="col p-r-0 align-self-center">
                    <h2 class="font-light m-b-0">1795</h2>
                    <h6 class="text-muted">New Leads</h6>
                </div>
                <div class="col text-right ">
                    <div data-label="40%" class="css-bar m-b-0 css-bar-primary css-bar-40"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-body">
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col p-r-0 align-self-center">
                    <h2 class="font-light m-b-0">36870</h2>
                    <h6 class="text-muted">Page Views</h6>
                </div>
                <!-- Column -->
                <div class="col text-right align-self-center">
                    <div data-label="60%" class="css-bar m-b-0 css-bar-danger css-bar-60"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <h4 class="card-title">Projects of the Month</h4>
                    <div class="ml-auto">
                        <select class="custom-select">
                            <option selected>January</option>
                            <option value="1">February</option>
                            <option value="2">March</option>
                            <option value="3">April</option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive m-t-20">
                    <table class="table stylish-table">
                        <thead>
                            <tr>
                                <th>Assigned</th>
                                <th>Name</th>
                                <th>Priority</th>
                                <th>Budget</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h6>Sunil Joshi</h6><small class="text-muted">Web Designer</small>
                                </td>
                                <td>Elite Admin</td>
                                <td><span class="label label-success">Low</span></td>
                                <td>$3.9K</td>
                            </tr>
                            <tr class="active">
                                <td>
                                    <h6>Andrew</h6><small class="text-muted">Project Manager</small>
                                </td>
                                <td>Real Homes</td>
                                <td><span class="label label-info">Medium</span></td>
                                <td>$23.9K</td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Bhavesh patel</h6><small class="text-muted">Developer</small>
                                </td>
                                <td>MedicalPro Theme</td>
                                <td><span class="label label-primary">High</span></td>
                                <td>$12.9K</td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Nirav Joshi</h6><small class="text-muted">Frontend Eng</small>
                                </td>
                                <td>Elite Admin</td>
                                <td><span class="label label-danger">Low</span></td>
                                <td>$10.9K</td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Micheal Doe</h6><small class="text-muted">Content Writer</small>
                                </td>
                                <td>Helping Hands</td>
                                <td><span class="label label-warning">High</span></td>
                                <td>$12.9K</td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Johnathan</h6><small class="text-muted">Graphic</small>
                                </td>
                                <td>Digital Agency</td>
                                <td><span class="label label-info">High</span></td>
                                <td>$2.6K</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Sales Overview</h4>
                <h6 class="card-subtitle">Ample Admin Vs Pixel Admin</h6>
                <div class="amp-pxl" style="height: 300px;"></div>
                <div class="text-center">
                    <ul class="list-inline">
                        <li>
                            <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>Ample</h6>
                        </li>
                        <li>
                            <h6 class="text-muted  text-info"><i class="fa fa-circle font-10 m-r-10"></i>Pixel</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>