﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NERVA Admin</title>
    <link href="~/iofrm/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/iofrm/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/iofrm/css/iofrm-style.css" rel="stylesheet" />
    <link href="~/iofrm/css/iofrm-theme9.css" rel="stylesheet" />
</head>
<body>
    <div class="form-body">
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <h3>More things done with NERVA.</h3>
                    <p>
                        Access to the most powerfull tool for record your task, doctors!
                        <br /> @if (ViewBag.Message != null) { @ViewBag.Message }
                    </p>
                    <img src="~/iofrm/images/graphic5.svg" />
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <div class="website-logo-inside">
                            <div class="logo">
                                <img class="logo-size" src="~/iofrm/images/logo-light.svg" alt="" />
                            </div>
                        </div>
                        @if (ViewBag.Message != null)
                        {
                            <div class="page-links">
                                <p class="font-weight-bold" style="color:red;">@ViewBag.Message</p>
                            </div>
                        }
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/iofrm/js/jquery.min.js"></script>
    <script src="~/iofrm/js/popper.min.js"></script>
    <script src="~/iofrm/js/bootstrap.min.js"></script>
    <script src="~/iofrm/js/main.js"></script>
</body>
</html>