﻿@{
    Layout = "~/Areas/SA/Views/Shared/_Layout.cshtml";
}
@using NRG_Core.DataModels
@model MPatient
<script>
    $(document).ready(function () {
        $('#modalAdd').on('hidden.bs.modal', function (e) {
            resetModal();
        });
        loadTable(0);
        resetModal();
        $('.date').datepicker();
    });

    function resetModal() {
        $('#modalTitle').text('New');
        $('#ID').val(0);
        $('#Name').val('');
        $('#Description').val('');
    }

    function loadTable(id) {
        $('#mstTbl').DataTable({
            destroy: true,
            ajax: "/SA/Master/GetPatient/" + id,
            columns: [
                {
                    data: "id",
                    render: function (data) {
                        return '<div class="btn-group" role="group" aria-label="Basic example">' +
                            '<button class="btn btn-warning" title="edit it" onclick="loadDetail(' + data + ')"><i class="far fa-edit"></i></button>' +
                            '<button class="btn btn-danger" title="remove it" onclick="confirmDelete(' + data + ')"><i class="fas fa-eraser"></i></button>' +
                            '</div>';
                    },
                    orderable: false,
                    searchable: false,
                    width: "15%"
                },
                { data: "strName", width: "20%" },
                { data: "strDOB", width: "10%" },
                { data: "strAge", width: "10%" },
                { data: "strGender", width: "10%" },
                { data: "address", width: "35%" }
            ],
            aLengthMenu: [[10, 25, -1], [10, 25, "All"]],
            iDisplayLength: 10
        });
    }

    function loadDetail(id) {
        $.ajax({
            url: "/SA/Master/GetPatient/" + id,
            success: function (r) {
                $('#modalTitle').text('Edit');
                $('#modalAdd').modal();
                
                $('#ID').val(r.data[0].id);
                $('#Code').val(r.data[0].code);
                $('#Status').val(r.data[0].status);
                $('#CreateBy').val(r.data[0].createBy);
                $('#CreateDate').val(r.data[0].createDate);
                $('#Name').val(r.data[0].name);
                $('#Description').val(r.data[0].description);
            }
        });
    }

    function confirmDelete(id) {
        swal({
            title: "Confirmation",
            text: "Are you sure delete this?",
            type: "info",
            confirmButtonClass: "btn-success",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            showCancelButton: true,
            showLoaderOnConfirm: true,
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: "/SA/Master/DeletePatient/" + id,
                success: function (isOk) {
                    if (isOk) {
                        swal("Information", "this information has been deleted.");
                        loadTable();
                    } else {
                        swal("Information", "data is in use, please remove that first.");
                    }
                }
            });
        });
    }
</script>
<div class="modal fade" id="modalAdd" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="modalTitle">New</span>
                    <span class="font-weight-light">Patient</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            @using (Html.BeginForm("UpdatePatient", "Master", new { area = "SA" }, FormMethod.Post, true, new { role = "form" }))
            {
                <div class="modal-body">
                    <div class="box-body row">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ID)
                        @Html.HiddenFor(m => m.Code)
                        @Html.HiddenFor(m => m.Status)
                        @Html.HiddenFor(m => m.CreateBy)
                        @Html.HiddenFor(m => m.CreateDate)

                        <div class="form-group col-md-12">
                            <label>Name</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "" })
                        </div>
                        <div class="form-group col-md-12">
                            <label>DOB</label>
                            @Html.TextBoxFor(m => m.DOB, new { @class = "form-control date" })
                        </div>
                        <div class="form-group col-md-12">
                            <label>Gender</label>
                            @Html.DropDownListFor(m => m.Gender, Html.GetEnumSelectList(typeof(EnGender)), new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-12">
                            <label>Phone</label>
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", type = "number" })
                        </div>
                        <div class="form-group col-md-12">
                            <label>Address</label>
                            @Html.TextAreaFor(m => m.Address, new { @class = "form-control", rows = 5, columns = 40 })
                        </div>
                        <div class="form-group col-md-12">
                            <label>Description</label>
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 5, columns = 40 })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> insert</button>
                </div>
            }
        </div>
    </div>
</div>
<div class="row page-titles">
    <div class="col-md-7 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Patient Data</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Master Data</li>
        </ol>
    </div>
    <div class="col-md-5 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <button class="waves-effect waves-light btn-success btn btn-sm pull-right m-l-10" data-toggle="modal" data-target="#modalAdd"><i class="ti-plus text-white"></i> insert data</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive m-t-40">
                    <table id="mstTbl" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>DOB</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>