﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/material-pro/assets/images/favicon.png">
    <title>NERVA Admin</title>
    <link href="~/material-pro/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/material-pro/assets/plugins/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/material-pro/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/material-pro/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="~/material-pro/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="~/material-pro/assets/plugins/css-chart/css-chart.css" rel="stylesheet">
    <link href="~/material-pro/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">
    <link href="~/material-pro/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/material-pro/assets/plugins/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet" />
    <link href="~/material-pro/dark/css/style.css" rel="stylesheet" />
    <link href="~/material-pro/dark/css/colors/green-dark.css" id="theme" rel="stylesheet">
    <link href="~/material-pro/dark/css/icons/font-awesome/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/justdo/css/sweetalert.css" rel="stylesheet" />
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="fix-header fix-sidebar card-no-border">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="main-wrapper">
        @await Html.PartialAsync("~/Areas/SA/Views/Shared/_Header.cshtml")
        @await Html.PartialAsync("~/Areas/SA/Views/Shared/_LeftSidebar.cshtml")
        <div class="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <footer class="footer"> ©@DateTime.Now.Year. Random Studio ID use Material Pro Admin Template by wrappixel.com</footer>
        </div>
    </div>

    @*<script src="~/material-pro/assets/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/material-pro/assets/plugins/popper/popper.min.js"></script>
    <script src="~/material-pro/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/material-pro/dark/js/jquery.slimscroll.js"></script>
    <script src="~/material-pro/dark/js/waves.js"></script>
    <script src="~/material-pro/dark/js/sidebarmenu.js"></script>
    <script src="~/material-pro/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/material-pro/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/material-pro/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/material-pro/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/material-pro/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/material-pro/dark/js/custom.min.js"></script>
    <script src="~/material-pro/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="~/material-pro/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/material-pro/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/material-pro/assets/plugins/vectormap/jquery-jvectormap-us-aea-en.js"></script>
    <script src="~/material-pro/dark/js/dashboard3.js"></script>
    <script src="~/material-pro/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script src="~/material-pro/assets/plugins/datatables/datatables.min.js"></script>
    <script src="~/material-pro/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- start - This is for export functionality only -->
    @*<script src="http://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script src="http://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="http://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script src="http://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script src="http://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
        <script src="http://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>*@
    <!-- end - This is for export functionality only -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"></script>*@
    <script src="~/material-pro/assets/plugins/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/material-pro/assets/plugins/Magnific-Popup-master/dist/jquery.magnific-popup-init.js"></script>
    <script src="~/justdo/js/sweetalert.min.js"></script>
</body>
</html>
