﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <div class="user-profile">
            <div class="profile-text">
                <a href="#" role="button">@HttpContextAccessor.HttpContext.Session.GetString("ufullname")</a>
            </div>
        </div>
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap">MENU</li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Action("Index", "Default", new { area = "SA" })"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard </span></a>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-briefcase"></i><span class="hide-menu">Master Data</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="@Url.Action("Hospital", "Master", new { area = "SA" })">Rumah Sakit</a></li>
                        <li><a href="@Url.Action("Patient", "Master", new { area = "SA" })">Pasien</a></li>
                        <li><a href="@Url.Action("Surgeon", "Master", new { area = "SA" })">Tindakan Bedah Saraf</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-user-md"></i><span class="hide-menu">Checkup Data</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="@Url.Action("Index", "Control", new { area = "SA" })">Pasien Control</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="sidebar-footer">
        @*<a href="#" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>*@
        <a href="@Url.Action("Logout", "Home", new { id = HttpContextAccessor.HttpContext.Session.GetString("uid") })" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
    </div>
</aside>