﻿@{
    Layout = "_Layout";
}
@model NRG_Core.DataModels.MLogin
<form action="/Home/Login" method="post">
    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @name = "login", @placeholder = "Username", @required = "required" })
    @Html.PasswordFor(x => x.Passwd, new { @class = "form-control", @name = "login", @placeholder = "Password", @required = "required" })
    <div class="form-button">
        <button id="submit" type="submit" class="ibtn">Login</button>
    </div>
</form>