﻿@{
    Layout = "~/Areas/SA/Views/Shared/_Layout.cshtml";
}
@using NRG_Core.DataModels
@model PControl
<script>
    $(document).ready(function () {
        $('#modalAdd').on('hidden.bs.modal', function (e) {
            resetModal();
        });
        loadTable(0);
        setUploadImages();
        resetModal();
        $('.date').datepicker();
    });

    function resetModal() {
        $('#modalTitle').text('New');
        $('#ID').val(0);
        $('#Name').val('');
        $('#Description').val('');
    }

    function removeUploadImage(nm) {
        $("#div" + nm).remove();
        var del = $("#DeletedID").val();
        if (del != '') {
            $("#DeletedID").val(del + ',' + nm);
        } else {
            $("#DeletedID").val(nm);
        }
    }

    function setUploadImages() { //for images        
        let inputs = [];
        let name = "Images";

        let loadImagesFromInputs = () => {
            $("#imageHolder").empty();
            if (!FileReader) {
                alert("Cant load files in the navigator");
                return;
            }

            inputs.forEach(i => {
                var fno = 0;
                Array.from(i.files).forEach(f => {
                    var xyz = fno;
                    let fr = new FileReader();
                    fr.onload = function () {
                        var ximg = '<div id="div' + xyz + '" style="position: relative;display: inline-block;width:50%;">' +
                            '<img src="' + fr.result + '" style="width:100%">' +
                            '<button class="btn btn-sm" style="position: absolute; top: 0; right: 0;" id="' + xyz + '" onclick="removeUploadImage(this.id); return false;"><i class="far fa-times-circle"></i></button>' +
                            '</div>';
                        $("#imageHolder").append(ximg);
                    }
                    fr.readAsDataURL(f);
                    fno++;
                });
            });
        }

        $("#uploadImages").click(() => {
            let newInput = $("<input>", {
                type: "file",
                name: name,
                id: name,
                multiple: true,
                accept: "image/x-png,image/gif,image/jpeg"
            }).css({ width: "1", position: "absolute", opacity: "0" });
            newInput.change((e) => { loadImagesFromInputs() }); //update the list of images on change

            inputs.push(newInput[0]); //Add input to list of inputs            
            $("#holder").append(newInput); //Add input to form            
            newInput.click(); //Click input
        });
    }

    function usePopup(e) {
        $.magnificPopup.open({
            items: {
                src: e.src
            },
            type: 'image'
        });
    }

    function loadTable(id) {
        var dt = $('#mstTbl').DataTable({
            destroy: true,
            ajax: "/SA/Control/GetData/" + id,
            columns: [
                {
                    data: "master.id",
                    render: function (data) {
                        return '<div class="btn-group" role="group" aria-label="Basic example">' +
                            '<button class="btn btn-default btn-outline-secondary" title="detail it" id="btnDetail"><i class="fas fa-info"></i></button>' +
                            //'<button class="btn btn-warning" title="edit it" onclick="loadDetail(' + data + ')"><i class="far fa-edit"></i></button>' +
                            '<button class="btn btn-danger" title="remove it" onclick="confirmDelete(' + data + ')"><i class="fas fa-eraser"></i></button>' +
                            '</div>';
                    },
                    orderable: false,
                    searchable: false,
                    width: "15%"
                },
                { data: "master.code", width: "15%" },
                { data: "master.patientID", width: "20%" },
                { data: "master.strComeinDate", width: "10%" },
                { data: "master.controlType", width: "10%" },
                { data: "master.medicalRecord", width: "10%" },
                { data: "master.hospitalID", width: "10%" },
                { data: "master.surgeryID", width: "10%" }
            ],
            aLengthMenu: [[10, 25, -1], [10, 25, "All"]],
            iDisplayLength: 10
        });

        var detailRows = [];
        $('#mstTbl tbody').on('click', '#btnDetail', function () {
            var tr = $(this).closest('tr');
            var row = dt.row(tr);
            var idx = $.inArray(tr.attr('id'), detailRows);

            if (row.child.isShown()) {
                tr.removeClass('details');
                row.child.hide();
                detailRows.splice(idx, 1);
            } else {
                tr.addClass('details');
                var dr = row.data();
                
                if (typeof dr !== 'undefined') {
                    var img = '<div class="row el-element-overlay">';
                    if (dr.picts.length > 0) {
                        $.each(dr.picts, function (a, b) {
                            img += '<div class="col-md-4">' +
                                '<div class="card">' +
                                '<div class="el-card-item pb-3">' +
                                '<div class="el-card-avatar mb-3 el-overlay-1 w-100 overflow-hidden position-relative text-center">' +
                                '<img id="img_' + dr.master.id + '_' + b.id + '" src="data:image/jpg;base64,' + b.strData + '" class="d-block position-relative w-100" alt="user">' +
                                '<div class="el-overlay w-100 overflow-hidden">' +
                                '<ul class="list-style-none el-info text-white text-uppercase d-inline-block p-0">' +
                                '<li class="el-item d-inline-block my-0  mx-1">' +
                                '<button class="btn default btn-outline image-popup-vertical-fit el-link text-white border-white" onclick="usePopup(img_' + dr.master.id + '_' + b.id + ')"><i class="icon-magnifier"></i></button>' +
                                '</li>' +
                                '</ul>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '<div class="d-flex no-block align-items-center">' +
                                '<div class="ml-3" style="margin-top: -30px;"> ' +
                                '<span class="text-muted">globe type chair for rest</span>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>';
                        });
                    }                   
                    img += '</div>';

                    var frm =
                        '<div class="col-md-12">' +
                        '<div class="form-group">' +
                        '<label class="col-sm-12 col-form-label">' +
                        'GOS: <b>' + dr.master.gos + '</b><br/>' +
                        'Diagnose: <b>' + dr.master.diagnose + '</b><br/>' +
                        'Head Diameter: <b>' + dr.master.headDiameter + '</b>' +
                        '</label>' +
                        '</div>' +
                        '<div class="form-group">' +
                        '<label>Note</label>' +
                        '<textarea class="form-control" rows="5" cols="10" disabled>' + dr.master.note + '</textarea>' +
                        '</div>' +
                        '<div class="form-group"><label>Images</label>' + img + '</div>' +
                        '</div>' +
                        '</div>';

                    row.child(frm).show();
                    if (idx === -1) detailRows.push(tr.attr('id'));
                }
            }
        });

        dt.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });
    }

    function loadDetail(id) {
        $.ajax({
            url: "/SA/Master/GetPatient/" + id,
            success: function (r) {
                $('#modalTitle').text('Edit');
                $('#modalAdd').modal();

                $('#ID').val(r.data[0].id);
                $('#Code').val(r.data[0].code);
                $('#Status').val(r.data[0].status);
                $('#CreateBy').val(r.data[0].createBy);
                $('#CreateDate').val(r.data[0].createDate);
                $('#Name').val(r.data[0].name);
                $('#Description').val(r.data[0].description);
            }
        });
    }

    function confirmDelete(id) {
        swal({
            title: "Confirmation",
            text: "Are you sure delete this?",
            type: "info",
            confirmButtonClass: "btn-success",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            showCancelButton: true,
            showLoaderOnConfirm: true,
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: "/SA/Control/DeleteData/" + id,
                success: function (isOk) {
                    if (isOk) {
                        swal("Information", "this information has been deleted.");
                        loadTable();
                    } else {
                        swal("Information", "data is in use, please remove that first.");
                    }
                }
            });
        });
    }
</script>
<div class="modal fade" id="modalAdd" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="modalTitle">New</span>
                    <span class="font-weight-light">Pasien Control</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            @using (Html.BeginForm("UpdateData", "Control", new { area = "SA" }, FormMethod.Post, true, new { role = "form", id = "holder", enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div class="box-body row">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Master.ID)
                        @Html.HiddenFor(m => m.Master.Code)
                        @Html.HiddenFor(m => m.Master.Status)
                        @Html.HiddenFor(m => m.Master.CreateBy)
                        @Html.HiddenFor(m => m.Master.CreateDate)
                        @Html.HiddenFor(m => m.DeletedID)

                        <div class="form-group col-md-6">
                            <label>Patient</label>
                            @Html.DropDownListFor(m => m.Master.PatientID, ViewBag.ComboPatient as IEnumerable<SelectListItem>, "-- select --", new { @class = "form-control", autofocus = "" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Date</label>
                            @Html.TextBoxFor(m => m.Master.ComeinDate, new { @class = "form-control date" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Head Diameter (cm)</label>
                            @Html.TextBoxFor(m => m.Master.HeadDiameter, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Control Type</label>
                            @Html.DropDownListFor(m => m.Master.ControlType, Html.GetEnumSelectList(typeof(EnControl)), "-- select --", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Medical Record</label>
                            @Html.TextBoxFor(m => m.Master.MedicalRecord, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Control in Hospital</label>
                            @Html.DropDownListFor(m => m.Master.HospitalID, ViewBag.ComboHospital as IEnumerable<SelectListItem>, "-- select --", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last Surgery Type</label>
                            @Html.DropDownListFor(m => m.Master.SurgeryID, ViewBag.ComboSurgeon as IEnumerable<SelectListItem>, "-- select --", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>GOS</label>
                            @Html.TextAreaFor(m => m.Master.GOS, new { @class = "form-control", rows = 5, columns = 20 })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Diagnose</label>
                            @Html.TextAreaFor(m => m.Master.Diagnose, new { @class = "form-control", rows = 5, columns = 20 })
                        </div>
                        <div class="form-group col-md-12">
                            <button id="uploadImages" type="button">Upload Images</button>
                            <hr />
                            <div class="row col-md-12" id="imageHolder"></div>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Note</label>
                            @Html.TextAreaFor(m => m.Master.Note, new { @class = "form-control", rows = 5, columns = 20 })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> insert</button>
                </div>
            }
        </div>
    </div>
</div>
<div class="row page-titles">
    <div class="col-md-7 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Pasien Control</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Checkup Data</li>
        </ol>
    </div>
    <div class="col-md-5 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <button class="waves-effect waves-light btn-success btn btn-sm pull-right m-l-10" data-toggle="modal" data-target="#modalAdd"><i class="ti-plus text-white"></i> insert data</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive m-t-40">
                    <table id="mstTbl" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>#</th>
                                <th>Patient</th>
                                <th>Date</th>
                                <th>Control</th>
                                <th>Medical Record</th>
                                <th>Hospital</th>
                                <th>Surgery</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                @*<br />*@
                @*<div class="row el-element-overlay">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="el-card-item pb-3">
                                <div class="el-card-avatar mb-3 el-overlay-1 w-100 overflow-hidden position-relative text-center">
                                    <img src="https://wrappixel.com/demos/admin-templates/materialpro-bootstrap-latest/material-pro/src/assets/images/gallery/chair.jpg" class="d-block position-relative w-100" alt="user">
                                    <div class="el-overlay w-100 overflow-hidden">
                                        <ul class="list-style-none el-info text-white text-uppercase d-inline-block p-0">
                                            <li class="el-item d-inline-block my-0  mx-1"><a class="btn default btn-outline image-popup-vertical-fit el-link text-white border-white" href="https://wrappixel.com/demos/admin-templates/materialpro-bootstrap-latest/material-pro/src/assets/images/gallery/chair.jpg"><i class="icon-magnifier"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex no-block align-items-center">
                                <div class="ml-3" style="margin-top: -30px;">
                                    <span class="text-muted">globe type chair for rest</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>